{% extends 'base.html' %}

{% block title %}Sabores De Mi Tierra{% endblock %}


{% block content %}

{% include 'flash-alerts.html' %}

<div class="bg-image">
    <div class="hero-text">
        <div id="buffet">
            <form action="/edit" method="POST" id="buffet-form">
                {{ menu_form.hidden_tag() }} <!--add type=hidden form fields -->
                {{ menu_form.menu(class_="buffet-textarea", rows=10) }}
                {% for err in menu_form.menu.errors %}
                <small class="d-block">{{ err }}</small>
                {% endfor %}
                <button class="btn btn-primary mt-2">Actualizar Menu</button>
            </form>

        </div>

    </div>
</div>


{% endblock %}
