{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

{% include 'flash-alerts.html' %}

<form action="/login" method="POST" class="container my-3">
    {{ form.hidden_tag() }} <!--add type=hidden form fields -->
    {% for field in form if field.widget.input_type != 'hidden' %}
    <div class="mb-3">
        {{field.label(class_="form-label")}}
        {{field(class_="form-control")}}

        {% for err in field.errors %}
        <small class="form-text text-danger d-block">{{err}}</small>
        {% endfor %}

    </div>
    {% endfor %}
    <button class="btn btn-primary">Login</button>
</form>

{% endblock %}
